<header class="app-header">
    <div class="header-content">
        <div class="brand">
            <img class="brand-icon" src="assets/LudoPlanet.svg" alt="LudoPlanet">
            <h1>LudoPlanet</h1>
        </div>
        <div class="header-icons">
            <a href="/product" class="icon-link-container">
                <i class="fa-solid fa-hat-wizard"></i>
                <span class="icon-label">PRODUCTOS</span>
            </a>
            <a href="#" class="icon-link-container">
                <i class="fa-solid fa-chess"></i>
                <span class="icon-label">RESERVAS</span>
            </a>
            <div class="search-container">
                <input pInputText type="text" placeholder="Buscar" />
                <button pButton type="button" (click)="onSearch()">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <app-user-menu #userMenu></app-user-menu>
            <a href="#" class="icon-link"><i class="fa-solid fa-cart-shopping"></i></a>
            <button class="icon-button" type="button" (click)="userMenu.menu.toggle($event)">
                <i class="icon-link fa-regular fa-user"></i>
            </button>
        </div>
    </div>

</header>