<div class="user-list-container">
    <div class="user-card">

        <span class="user-title">
            {{ mode === 'registerClient' ? 'Registro de usuario' :
            mode === 'registerEmployee' ? 'Alta de empleado' :
            mode === 'editClient' || mode === 'editEmployee' ? 'Editar usuario' :
            'Datos mínimos' }}
        </span>

        <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="user-form grid-2">

            <!-- Email -->
            <div class="fieldWarn">
                <div class="field">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" pInputText name="email" [(ngModel)]="solicitud.email"
                        #email="ngModel" required email />
                </div>
                <small *ngIf="email.invalid && email.touched" class="p-error">
                    El e-mail es obligatorio y debe ser válido.
                </small>
            </div>

            <!-- Teléfono -->
            <div class="fieldWarn">
                <div class="field">
                    <label for="phone">Teléfono</label>
                    <input id="phone" type="text" pInputText name="phone" [(ngModel)]="solicitud.phone" #phone="ngModel"
                        required />
                </div>
                <small *ngIf="phone.invalid && phone.touched" class="p-error">
                    El teléfono es obligatorio.
                </small>
            </div>

            <!-- Nombre -->
            <div class="fieldWarn">
                <div class="field">
                    <label for="name">Nombre</label>
                    <input id="name" type="text" pInputText name="name" [(ngModel)]="solicitud.name" #name="ngModel"
                        required />
                </div>
                <small *ngIf="name.invalid && name.touched" class="p-error">
                    El nombre es obligatorio.
                </small>
            </div>

            <!-- Apellidos -->
            <div class="fieldWarn">
                <div class="field">
                    <label for="surnames">Apellidos</label>
                    <input id="surnames" type="text" pInputText name="surnames" [(ngModel)]="solicitud.surnames"
                        #surnames="ngModel" required />
                </div>
                <small *ngIf="surnames.invalid && surnames.touched" class="p-error">
                    Los apellidos son obligatorios.
                </small>
            </div>

            <!-- Contraseña -->
            <div class="fieldWarn" *ngIf="mode !== 'send'">
                <div class="field">
                    <label for="password">Contraseña</label>

                    <div class="password-wrapper">
                        <input id="password" [type]="showPassword ? 'text' : 'password'" pInputText name="password"
                            [(ngModel)]="solicitud.password" #password="ngModel" minlength="8"
                            [required]="mode !== 'editClient' && mode !== 'editEmployee'" />

                        <button type="button" pButton class="toggle-password" (click)="togglePassword()"
                            [icon]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'">
                        </button>
                    </div>
                </div>

                <small *ngIf="password.invalid && password.touched" class="p-error">
                    La contraseña requiere 8 caracteres.
                </small>
            </div>

            <!-- Dirección -->
            <span class="user-title">Dirección</span>

            <div class="fieldWarn">
                <div class="field">
                    <label for="nameAddress">Nombre</label>
                    <input id="nameAddress" pInputText name="nameAddress" [(ngModel)]="solicitud.nameAddress"
                        #nameAddress="ngModel" required />
                </div>
                <small *ngIf="nameAddress.invalid && nameAddress.touched" class="p-error">
                    El nombre de la dirección es obligatorio.
                </small>
            </div>

            <div class="fieldWarn">
                <div class="field">
                    <label for="country">País</label>
                    <input id="country" pInputText name="country" [(ngModel)]="solicitud.country" #country="ngModel"
                        required />
                </div>
                <small *ngIf="country.invalid && country.touched" class="p-error">
                    El país es obligatorio.
                </small>
            </div>

            <div class="fieldWarn">
                <div class="field">
                    <label for="province">Provincia</label>
                    <input id="province" pInputText name="province" [(ngModel)]="solicitud.province" #province="ngModel"
                        required />
                </div>
                <small *ngIf="province.invalid && province.touched" class="p-error">
                    La provincia es obligatoria.
                </small>
            </div>

            <div class="fieldWarn">
                <div class="field">
                    <label for="postalCode">Código Postal</label>
                    <input id="postalCode" pInputText name="postalCode" [(ngModel)]="solicitud.postalCode"
                        #postalCode="ngModel" required />
                </div>
                <small *ngIf="postalCode.invalid && postalCode.touched" class="p-error">
                    El código postal es obligatorio.
                </small>
            </div>

            <div class="fieldWarn">
                <div class="field">
                    <label for="city">Ciudad</label>
                    <input id="city" pInputText name="city" [(ngModel)]="solicitud.city" #city="ngModel" required />
                </div>
                <small *ngIf="city.invalid && city.touched" class="p-error">
                    La ciudad es obligatoria.
                </small>
            </div>

            <div class="fieldWarn">
                <div class="field">
                    <label for="street">Calle</label>
                    <input id="street" pInputText name="street" [(ngModel)]="solicitud.street" #street="ngModel"
                        required />
                </div>
                <small *ngIf="street.invalid && street.touched" class="p-error">
                    La calle es obligatoria.
                </small>
            </div>

            <div class="fieldWarn">
                <div class="field">
                    <label for="number">Número</label>
                    <input id="number" pInputText name="number" [(ngModel)]="solicitud.number" #number="ngModel"
                        required />
                </div>
                <small *ngIf="number.invalid && number.touched" class="p-error">
                    El número es obligatorio.
                </small>
            </div>

            <div class="field">
                <label for="floor">Piso</label>
                <input id="floor" pInputText name="floor" [(ngModel)]="solicitud.floor" />
            </div>

            <div class="field">
                <label for="door">Puerta</label>
                <input id="door" pInputText name="door" [(ngModel)]="solicitud.door" />
            </div>

            <div class="field">
                <label for="staircase">Escalera</label>
                <input id="staircase" pInputText name="staircase" [(ngModel)]="solicitud.staircase" />
            </div>

            <!-- ROLES -->
            <span *ngIf="rolesPermission" class="user-title">Roles</span>

            <div *ngIf="rolesPermission" class="fullRow grid-2">
                <div *ngFor="let role of solicitud.roles; let i = index; trackBy: trackByIndex" class="fieldWarn">

                    <div class="field">
                        <p-select [options]="roleOptions[i]" optionLabel="name" optionValue="id"
                            [(ngModel)]="solicitud.roles[i]" name="role{{i}}" (onChange)="onRoleChange(i)"
                            placeholder="Selecciona un rol" [filter]="true" appendTo="body"> </p-select>
                    </div>

                    <div *ngIf="i === 0 && isRolesInvalid() && form.submitted" class="p-error">
                        Debes asignar al menos un rol.
                    </div>
                </div>
            </div>

            <!-- BOTONES -->
            <div class="button-row fullRow">
                <button pButton type="submit" label="Validar" class="btn-edit"></button>
                <button pButton type="button" label="Cancelar" class="btn-delete" (click)="onCancel()"></button>
            </div>

            <div *ngIf="formError" class="p-error" style="margin-top: 1rem;">
                {{ currentError }}
            </div>

        </form>
    </div>
</div>