/* Tarjeta base */
.item-card {
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    box-shadow: none;
}

/* Primera fila: solo el título */
.first-row .title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #343428;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.first-row .title input {
    font-size: 0.9rem;
    padding: 0.4rem 0.6rem;
}

.second-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Descripción con tabulación */
.permission-description {
    padding-left: 1.5rem;
    font-size: 0.9rem;
    color: #343428;
    display: grid;
    grid-template-columns: 200px 200px;
    /* ajustable */
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.permission-item {
    display: contents;
}

.permission-item label {
    align-self: center;
}

.permission-item p-select {
    width: 100%;
}

/* Botones en fila */
.role-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    margin-left: 1rem;
    align-self: flex-end;
}

/* Estilos comunes a ambos botones */
:host ::ng-deep .btn-cancel,
:host ::ng-deep .btn-submit {
    padding: 0.4rem 1.2rem !important;
    font-size: 0.9rem !important;
    line-height: 1.2 !important;
    min-width: 6rem !important;
    text-align: center;
    color: white !important;
}

/* Botón Guardar */
:host ::ng-deep .btn-submit {
    background: #829679 !important;
    border-color: #829679 !important;
}

/* Botón Cancelar */
:host ::ng-deep .btn-cancel {
    background: #AEC8A2 !important;
    border-color: #AEC8A2 !important;
}