[class$="-list-container"] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    background-color: #E7EFC6;
    margin-top: 5%;
}

[class$="-header"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    width: 250px;
}

[class$="-title"] {
    font-size: 1.4rem;
    font-weight: 600;
    color: #2d4b2d;
    text-align: center;
    flex-shrink: 0;
}

/* Estilos comunes a ambos botones */
:host ::ng-deep .btn-add,
:host ::ng-deep .btn-edit,
:host ::ng-deep .btn-delete,
:host ::ng-deep .btn-other {
    padding: 0.4rem 1.2rem !important;
    font-size: 0.9rem !important;
    line-height: 1.2 !important;
    min-width: 6rem !important;
    /* mismo ancho sin usar px */
    text-align: center;
    color: white !important;
}

:host ::ng-deep .btn-add,
:host ::ng-deep .btn-edit {
    background: #829679 !important;
    border-color: #829679 !important;
}

:host ::ng-deep .btn-delete,
:host ::ng-deep .btn-other {
    background: #AEC8A2 !important;
    border-color: #AEC8A2 !important;
}

.roles-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 60vh;
    overflow-y: auto;
    padding-right: .5rem;
    white-space: pre-line;
}

[class$="-list"]::-webkit-scrollbar {
    width: 9px;
}

[class$="-list"]::-webkit-scrollbar-track {
    background: #B0AFB1;
    border-radius: 0px;
}

[class$="-list"]::-webkit-scrollbar-thumb {
    background: #3E3A19;
    border-radius: 0px;
}

[class$="-list"]::-webkit-scrollbar-thumb:hover {
    background: #3E3A19;
}

[class$="-list"]::-webkit-scrollbar-button {
    display: none;
}