.search-container {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.search-container input {
    background-color: #F6F6F2;
    border: 0.5px solid #3B3B1A;
    color: #3B3B1A;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1rem;
    width: 150px;
    transition: all 0.3s ease;
}

.search-container input::placeholder {
    color: #5A5A2A;
    opacity: 0.7;
}

.search-container input:focus {
    outline: none;
    border-color: #E7EFC7;
}

.search-container button {
    background: transparent;
    border: none;
    color: #3B3B1A;
    padding: 0;
    font-size: 1.35rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-container button:hover {
    color: #E7EFC7;
}