<div class="roles-list-container">
    <div class="roles-header">
        <div class="search-container">
            <input pInputText type="text" placeholder="Buscar" [(ngModel)]="searchTerm" />
        </div>
        <span class="roles-title">{{ tableName }}</span>
        <p-button label="Añadir rol" styleClass="btn-add" icon="pi pi-plus" (onClick)="onNew()"
            *ngIf="hasPermission()"></p-button>
    </div>

    <div class="roles-list">
        <ng-container *ngFor="let role of filteredRoles">

            <app-role-edit *ngIf="role.id === 0; else showItem" id="newItem" [name]="role.name"
                [description]="role.description()" (save)="onSave($event)" (cancel)="onCancel(role)">
            </app-role-edit>

            <ng-template #showItem>
                <app-role-item [name]="role.name" [description]="role.description()" (edit)="onEdit(role)"
                    (delete)="onDelete(role)">
                </app-role-item>
            </ng-template>

        </ng-container>
    </div>
</div>

<p-dialog class="dialog" header="Seleccione rol para sustituir" [(visible)]="showReplaceModal" [modal]="true"
    [closable]="true" [style]="{ width: '350px' }">

    <div class="p-fluid chooser">
        <label for="roleSelect">Nuevo rol</label>
        <p-select id="roleSelect" [options]="remainingRoles()" optionLabel="name" optionValue="id"
            [(ngModel)]="selectedRoleId" placeholder="Selecciona un rol" [filter]="true" appendTo="body">
        </p-select>
    </div>

    <ng-template pTemplate="footer">
        <p-button label="Cancelar" styleClass="btn-cancel" (onClick)="showReplaceModal = false">
        </p-button>

        <p-button label="Reemplazar y borrar" styleClass="btn-submit" [disabled]="!selectedRoleId"
            (onClick)="confirmDelete()">
        </p-button>
    </ng-template>

</p-dialog>